# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Installer artifacts
*.egg-info/
dist/
build/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# IDEs
.idea/
*.swp

# Pipenv
Pipfile.lock
Pipfile

# Poetry
poetry.lock

# Test coverage
htmlcov/
.coverage
.cache

# PyInstaller
*.spec

# Local tools / compiled scripts
devsetup.exe
*.bak

# Environment variables / secrets
.env
.env.*

# Jupyter or notebooks (if any)
.ipynb_checkpoints/
